[submodule "Engines/Vendors/glfw"]
	path = Engines/Vendors/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Engines/Vendors/glm"]
	path = Engines/Vendors/glm
	url = https://github.com/g-truc/glm.git
